body {
  background: url("images/ikatpattern22.png");
  padding: 0;
  }
h1 {
  margin: 10px 0 10px 0;
  font-family: 'Wire One', sans-serif;
  font-size: 40pt;
  color: #073149;
  font-weight: bold;
}
label {
  font-weight: normal;
}
.post-content p img{
  float:right;
  margin:0 20px 20px 20px;
}
a {
  color: #473f3d;
}
.background{
  background-color: white;
}
.container {
  background-color:white;
  max-width: 959px;
  min-height:830px;
  margin: 0 auto;
}

.content {
  padding:10px;
}

.splash {
  background-image: url("images/frontpageimage1.png");
  background-repeat: no-repeat;
  min-height: 500px;
}

.image-holder{
  text-align:center;
}
.nav li.active a, .nav li.active a:hover{
  background-color: #5fa1a0;
}

h2{
  font-family: 'Wire One', sans-serif;
  font-size: 40pt;
  color: #073149;
  text-align:center;
  font-weight: bold;
}
.h2 {
  font-family: 'Wire One', sans-serif;
  font-size: 40pt;
  color: #073149;
  text-align:left;
  font-weight: bold;
}
.lead {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18pt;
  color: #473f3d;

}
.eventlogos img{
  padding: 10px 10px;

}
.box{
  margin:20px auto;
  max-width:320px;
}
.nav{
  font-family: 'Wire One', sans-serif;
  font-size: 28pt;
}
.nav li a{
  background-color:#1f344e;
  color:white;
}
.nav li a:hover{
  background-color: #5fa1a0;
  color:white;
}
.RSS h2 {
  margin-top: 0;
}
.RSS a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21pt;
  text-align: left;
  margin-top: 10px;
  }
.newsletter {
  text-align:center;
}
.newsletter h2 {
  margin-top: 0;

}
.book {
 background-color: transparent;
}
.book h2 {
  margin-top: 0;
  text-align: center;
}
.footer {
text-align: center;
font-family: 'Josefin Sans', sans-serif;
font-size: 18pt;
color: #473f3d;
}

@media (max-width: 500px) {
  h1 {
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }

  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  .splash {
    background-image: url("images/Homeimage_mobile.png");
    background-position: top center;
    margin-top: 10px;
    min-height: 300px;
  }
 .newsletter {
    float:none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
   .book {
    float:none;
    margin: 10px;
  }
  .container{
    padding-left:0;
  }
  .navbar-nav>li{float:none}.navbar-nav>li+li{margin-top:2px;margin-left:0}
}

