<p><!-- Begin MailChimp Signup Form --></p>
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:500px;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://kellyrand.us7.list-manage.com/subscribe/post?u=3de86cee015fe761b966f8992&amp;id=b85bad6ab7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Join the email newsletter of fun</label><br />
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><br />
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
<div style="position: absolute; left: -5000px;"><input type="text" name="b_3de86cee015fe761b966f8992_b85bad6ab7" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<p><!--End mc_embed_signup--></p>
